@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500&display=swap');

body {
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000;
  font: 1.5em "Roboto Mono", monospace;
  color: white;
}

#button {
  display: block;
  position: absolute;
  background-color: black;
  border: 2px solid white;
  width: 160px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}




